# .npmrc
# Tell npm where to find packages scoped under @PBC-AB
@PBC-AB:registry=https://npm.pkg.github.com/

# Associate the default registry (optional but good practice)
# registry=https://registry.npmjs.org/

# Define authentication token for GitHub Packages (uncommented)
//npm.pkg.github.com/:_authToken=${NODE_AUTH_TOKEN} 